.background{
 background-image: url(https://raw.githubusercontent.com/tony847/iconpng/main/6858988.jpg);
 background-repeat: no-repeat;
 min-height: 100%;
 min-width: 1024px;
 width: 100%;
 height: auto;
 position: fixed;
    top: 0;
    left: 0;

     
}
td:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: 2s;
}
.Table Head{
    background-color: aqua; 
    color: blueviolet;
    text-align: center;
    font-size: 40px;
    font-family: Arial;
    vertical-align: middle;
    border-radius: 4px;
    font-weight: bold;
}
table{
    margin: 320px 700px;
}
